<div class="fondo">
    <div class="background-over" style="overflow:scroll;">
        <div style="margin-top:70px;"></div>
        <h1>Registrar Usuarios</h1>
        <input type="number" ng-model = "data.nit" placeholder="Numero de Documento" ng-blur="validateUser(data.nit);" required> 
        <br><br>
        <input type="text"  ng-model = "data.name" placeholder="Nombres" required> 
        <br><br>
        <input type="text" ng-model = "data.lastname" placeholder="Apellidos" required> 
        <br><br>
       <select id="tipo-usuario">
            <option selected disabled>Tipo de usuario</option>
            <option value="1">Usuario</option>
            <option value="2">Administrador</option>
        </select>
        <br><br>
        <select id="range">
            <option selected disabled>Rango</option>
            <option ng-repeat = "ranges in rangos" value="{{ranges.id_rango}}">{{ranges.rango}}</option>
        </select>
        <br><br>
        <select id="study-grade">
            <option selected disabled>Tipo de estudio</option>
            <option value="1">Ingeniería</option>
            <option value="2">Tecnología</option>
            <option value="3">Postgrado</option>
        </select>
        <br><br>
        <select id="state">
            <option selected disabled>Estado</option>
            <option value="1">En espera</option>
            <option value="2">Activo</option>
            <option value="3">Rechazado</option>
        </select>
        <br><br>
        <input type="password" id="password-id" ng-model = "data.password" placeholder="Contraseña" autocomplete="off" required> 
        <br><br>
        <input type="password" id="passdValid" placeholder="Repita Contraseña" autocomplete="off" required>
        <br><br>
        <select id="answer">
            <option selected disabled>Pregunta seguridad</option>
            <option ng-repeat="answer in answers" value="{{answer.id}}">{{answer.pregunta}}</option>
        </select>
        <br><br>
        <input type="password" ng-model = "data.response" placeholder="Respuesta">
        <br><br>
        <button type="button" class="button1" ng-click="register(data)">{{actionIU == "update" ? "Actualizar" : "Guardar"}}</button>
        <button type="button" class="button-red" ng-click="delete(data.nit)">Eliminar</button>
        <br><br><br>
    </div>
</div>
