<div class="fondo">
    <div class="contenido">
        <div id="inicio-content">
            <div id="clear1">&nbsp;</div>
            <span class="title">Solicitudes pendientes</span>
            <div class="box-classSoli" ng-click ="formOK();">
                <span>Escanner 3D</span><br>
                <span>Fecha : 15-04-2016 8:00 am</span><br>
                <span>Miguel Gonzalez</span>
                <div id="box-solicitudesP" class="botones"></div>
                <div id="box-solicitudesD" class="botones"></div>
            </div>
            <span class="title">Solicitudes aprobadas</span>
            <div  class="box-classSoli">
                <span>Escanner 3D</span><br>
                <span>Fecha : 15-04-2016 8:00 am</span><br>
                <span>Miguel Gonzalez</span>
                <div id="box-solicitudesA" class="botones"></div>
            </div>
            <span class="title">Solicitudes Entregadas</span>
            <div class="box-classSoli">
                <span>Escanner 3D</span><br>
                <span>Fecha : 15-04-2016 8:00 am</span><br>
                <span>Miguel Gonzalez</span>
            </div>
            <span class="title">Solicitudes Devueltas</span>
            <div class="box-classSoli">
                <span>Escanner 3D</span><br>
                <span>Fecha : 15-04-2016 8:00 am</span><br>
                <span>Miguel Gonzalez</span>
                <div id="box-solicitudesD" class="botones"></div>
            </div>
            <span class="title">Mantenimientos pendientes</span>
            <div class="box-classSoli">
                <span>Escanner 3D</span><br>
                <span>Fecha Mantenimiento: 15-04-2016 8:00 am</span>
            </div>
            <div id="clear">&nbsp;</div>
        </div>
    </div>
</div>