<div id="pop-machineError" class="pop-up-behind">
    <div class="pop-behind-form"></div>
    <div class="pop-up">
        <header>
            <div class="button-close fa fa-times-circle fa-6" aria-hidden="true"></div>
        </header>
        <section>
        <h3>Agregar insumos</h3>
        <input type="text" name="" id="code" placeholder="Codigo" ng-model="data.code">
        <br><br>
        <input type="text" name="" id="supplie" placeholder="Nombre insumo" ng-model="data.supplie">
        <br><br>
        <input type="number" id="quantity" placeholder="Cantidad" ng-model="data.quantity">
        <button class="button1" ng-click="saveSupplie(data)">Guardar</button>
         </section>
    </div>
</div>