<div class="fondo">
    <div class="contenido">
    <div style="margin-top:70px;"></div>
        <div style="text-align:center;">
            <div>
            <select>
                <option selected disabled>Escoja el reporte a generar</option>
                <option value="1">Reporte 1</option>
                <option value="2">Reporte 2</option>
                <option value="3">Reporte 3</option>
            </select>
            <span>Exportar a:</span>
            <div>
                <button class="button2">Generar</button>
            </div>
            </div>
        </div>
    </div>
</div>

        