<div class="fondo">
    <div class="contenido">
        <div style="height:100%;overflow:hidden;">
            <div id="clear1">&nbsp;</div>
            <div id="contentBusquedaReportes">         
                <center><input class="BusquedaReportes" type="text" name="fname" placeholder="Digite el nombre del reporte a buscar"></center> 
            </div>
            <div id="clear1">&nbsp;</div>
            <div id="clear1">&nbsp;</div>
            <div id="clear1">&nbsp;</div>
            <center><span class="titleReporte">Tipo de Reporte</span>
            <select id="buttomSeleccionReporte">
                <option value="Excel">Excel</option>
                <option value="Word">Word</option>
                <option value="txt">txt</option>
            </select>
            <div>
                <button id="buttomGenerarReporte">Generar</button>
            </div></center>
        </div>
        <div id="clear2">&nbsp;</div>
    </div>
</div>

        