<div id="pop-machineError" class="pop-up-behind">
    <div class="pop-behind-form"></div>
    <div class="pop-up">
        <header>
            <div class="button-close fa fa-times-circle fa-6" aria-hidden="true" ng-click="reload();"></div>
        </header>
        <section>
            <br>
                <div>
                    <span><strong>Solicitud numero {{requests.Id_solicitud}}</strong></span>
                </div>
                <br>
                    <div class="left-text">
                        <span><strong>Nombre:</strong> {{requests.nombre}} {{requests.apellido}}</span><br>
                        <span><strong>Equipo:</strong> {{requests.Equipo}}</span><br>
                        <span><strong>Fecha:</strong> {{requests.Fecha}}</span><br>
                        <span><strong>Hora inicio:</strong> {{requests.Hora_inicio}}</span><br>
                        <span><strong>Hora fin:</strong> {{requests.Hora_final}}</span><br>
                        <span><strong>Detalle Actividad:</strong> {{requests.Detalles_Actividad}}</span><br>
                        <div>
                            <span><strong>Insumos:</strong></span>
                            <span ng-repeat = "insum in insumos">{{insum.insumo}},</span>
                        </div><br>
                        <textarea id="coment" placeholder="Comentario"></textarea>
                        <br><br>
                        <div class="upload-icon"><i class="fa fa-upload" aria-hidden="true"></i><input type="file" ngf-select ng-model="image" name="file" accept="image/*" ngf-max-size="100MB" required ngf-model-invalid="errorFile"></div>
                    </div> 
                    <button class="button1" ng-click="validarSol(requests.Id_solicitud,4,image);">Entregar</button>                 
                </div>
         </section>
    </div>
</div>