<div class="fondo">
    <div class="contenido">
        <div style="height:100%;overflow:hidden;"></div>             
            <div id="clear1">&nbsp;</div>
            <div id="clear">&nbsp;</div>
            <span class="titleAprobadas">Maquina</span>
            <br>
            <div class="box-classSoliAprobadas">    
            </div>
            <span class="titleAprobadas">Usuario</span>
            <br>
            <div id="box-solicitudesA" class="box-classSoliAprobadas"> 
            </div>
            <span class="titleAprobadas">Fecha</span>
            <br>
            <div id="box-solicitudesE" class="box-classSoliAprobadas">    
            </div>
            <span class="titleAprobadas">Hora</span>
            <br>
            <div id="box-solicitudesD" class="box-classSoliAprobadas">    
            </div>
            <span class="titleAprobadas">Estado Maquina Entregada</span>
            <div id="clear">&nbsp;</div>   
                <textarea class="AprobadasDigiteObservaciones" rows="4" cols="38" placeholder= "Digite Observaciones Maquina Aprobada" class="textarea"></textarea>  
            <div id="final-content">    
                <button id="buttomEntregado">Entregado</button>
            </div>
            <div id="clear">&nbsp;</div>   
    </div>
</div>