<div class="fondo">
    <div class="contenido">
        <div style="height:100%;overflow:hidden;">
            <div id="clear1">&nbsp;</div>
            <div class="table">
                <div class="table-cell">
                    <span id="text">Maquina a utilizar</span>
                </div>
                <div class="table-cell">
                  <div id="SeguimientoEquipos" class="box-classSeguimientoEquipo"></div>
                </div>
            </div>  
            <br>
            <br>
            <div class="table">
                <div class="table-cell">
                    <span id="text">Rol de usuario</span>
                </div>
                <div class="table-cell">
                    <div id="SeguimientoEquipos" class="box-classSeguimientoEquipo"></div> 
                </div>
            </div>  
            <br>
            <br>
            <div class="table">
                <div class="table-cell">
                    <span id="text">Materiales que utilizara</span>
                </div>
                <div class="table-cell">
                    <div id="SeguimientoEquipos" class="box-classSeguimientoEquipo">
                </div>
                </div>
            </div>   
            <br>
            <br>
            <div class="table">
                <div class="table-cell">
                    <span id="text">Hora de ingreso</span>
                </div>
                <div class="table-cell">
                    <div id="SeguimientoEquipos" class="box-classSeguimientoEquipo">

                </div>
                </div>
            </div>   
            <br>
            <br>
            <div class="table">
                <div class="table-cell">                    
                    <span id="text">Hora de salida</span>
                </div>
                <div class="table-cell"> 
                    <div id="SeguimientoEquipos" class="box-classSeguimientoEquipo">

                </div>
                </div>
            </div>   
            <br>
            <br>
            <div class="table">
                <div class="table-cell">
                    <span id="text">Detalle de la actividad a realizar</span>
                </div>

                <div class="table-cell">
                   <div id="SeguimientoEquipos" class="box-classSeguimientoEquipo">

                </div>
                </div>
            </div>   
            <br>
            <button id="buttomRegistrar">Guardar</button>
        </div>
        <div id="clear">&nbsp;</div>
    </div>
</div> 