<div id="open-menu-admin"></div>
<div id="user-text"><i class="fa fa-user-o" aria-hidden="true"></i> Hola {{getuser}}</div>
<nav id="menu">
    <ul ng-if="rol == 2">
        <li><a ui-sref="menu.principalAdmin"><i class="fa fa-binoculars" aria-hidden="true"></i> Seguimiento solicitudes</a></li>
        <li><a ui-sref="menu.registroMaquinas"><i class="fa fa-sticky-note" aria-hidden="true"></i> Registro máquinas</a></li>
        <li><a ui-sref="menu.registroUsuarios"><i class="fa fa-users" aria-hidden="true"></i> Administrar usuarios</a></li>
        <li><a ui-sref="menu.mantenimientos"><i class="fa fa-wrench" aria-hidden="true"></i> Mantenimientos</a></li>
        <li><a ui-sref="menu.Reportes"><i class="fa fa-area-chart" aria-hidden="true"></i> Reportes</a></li>
        <li><a ng-click="logout();"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar sesión</a></li>
    </ul>

    <ul ng-if="rol == 1">
        <li><a ui-sref="menu.principalUser"><i class="fa fa-check-square-o" aria-hidden="true"></i> Solicitudes</a></li>
        <li><a ui-sref="menu.pedirMaquina"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Pedir equipo</a></li>
        <li><a ui-sref="menu.reporteNov"><i class="fa fa-file-text-o" aria-hidden="true"></i> Novedades</a></li>
        <li><a ng-click="logout();"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar sesión</a></li>
    </ul>
</nav>

<div ui-view>
	
</div>