<!DOCTYPE html>
<html >
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <link rel="stylesheet" type="text/css" href="assets/css/stylesAdmin.css">
        <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">

        <!--Libs
        <link rel="stylesheet" type="text/css" href="assets/lib/jquery-mobile/jquery.mobile-1.4.5.min.css">
        -->
        <title>Registro nuevas maquinas</title>
    </head>
    <body>
             <div style="height:100%;overflow:hidden;">
                        
                <center><div id="contentAprobadas">

                <div id="inicio-contentAproAprobadasbadas">

                    <span class="titleAprobadas">Maquina</span>
                    <br>
                    <div id="box-solicitudesP" class="box-classSoliAprobadas">
                        
                    </div>
                    <span class="titleAprobadas">Usuario</span>
                    <br>
                    <div id="box-solicitudesA" class="box-classSoliAprobadas">
                        
                    </div>
                    <span class="titleAprobadas">Fecha</span>
                    <br>
                    <div id="box-solicitudesE" class="box-classSoliAprobadas">
                        
                    </div>
                    <span class="titleAprobadas">Hora</span>
                    <br>
                    <div id="box-solicitudesD" class="box-classSoliAprobadas">
                        
                    </div>
                    
                    <span class="titleAprobadas">Estado maquina entregada</span>
                    <br>
                    <input class="AprobadasDigiteObservaciones" type="text" name="fname" placeholder="Digite ObservacionesMaquinaEntregada">   
            
                    <div id="final-content">
                         
                         <button id="buttomGuardado">Guardar</button>

                     </div>   
                    </div>
                </div>
            </div></center>
        </div>


        <!--Libs-->
        <script src="assets/lib/jquery/dist/jquery.min.js"></script>

        <!--<script src="assets/lib/angular/angular.min.js"></script>
        <script src="assets/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="assets/lib/angular-modal-service/dst/angular-modal-service.min.js"></script>
        -->
        <!--Route-->
        <!--<script src="app/app.module.js"></script>
        <script src="app/app.route.js"></script>-->

        <!--Factorys and directive-->
        <script src="assets/js/globals.js"></script>
        <script src="assets/js/directive.js"></script>

    </body>
</html>
